<!DOCTYPE html>
<html>
<head>
<title>xx网站订单中心管理界面</title>
<link type="text/css" href="style.css"  rel="stylesheet"/>
</head>
<body>
<div class="header">
	<div class="nav">
		<ul>
			<li><a href="#">商品列表</a></li>
			<li><a href="#">购物车</a></li>
			<li><a href="#">订单列表</a></li>
			<li><a href="#">个人信息</a></li>
		</ul>
	</div>
    <div class="dingdan">
        <div class="dingdan_left">
            <select>
                <option>一月前的订单</option>
                <option>近一个月的订单</option>
            </select>
             <select>
                <option>全部订单</option>
                <option>有效的订单</option>
                <option>已取消的订单</option>
            </select>
        </div>
        <div class="dingdan_right">
            <input type="text" value="商品名称、商品编号、订单编号"/>
            <input type="submit" value="查询" class="btn"/>
        </div>
    </div>
    <table>
		<tr>
			<th width="12%">订单编号</th>
			<th width="28%">订单商品</th>
			<th width="10%">收货人</th>
			<th width="12%">订单金额</th>
			<th width="12%">下单时间</th>
			<th width="14%">订单状态</th>
            <th width="14%">操作</th>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
        <tr>
			<td width="12%">319056780</td>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="10%">liushang</td>
			<td width="12%">￥76.00在线支付</td>
			<td width="12%">2012-09-14 23:58:17</td>
			<td width="14%">已完成</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="buy"></a>
            </td>
		</tr>
    </table>
    <div class="bage">
		<a href="#">首页</a>
		<a href="#">上一页</a>
		<a href="#">2</a>
		<a href="#">下一页</a>
	</div>
</div>
</body>
</html>