<!DOCTYPE html>
<html>
<head>
<title>xx网站订单中心管理界面</title>
<link type="text/css" href="style.css"  rel="stylesheet"/>
</head>
<body>
<div class="header">
	<div class="nav">
		<ul>
			<li><a href="#">商品列表</a></li>
			<li><a href="#">购物车</a></li>
			<li><a href="#">订单列表</a></li>
			<li><a href="#">个人信息</a></li>
		</ul>
	</div>
	<div class="search">
	<span>条件搜索</span>
		<div class="item">
			名称:<input type="text" value="请输入名称....">
			型号:<input type="text" value="请输入名称....">
		</div>
		<div class="item">
			性别
			<input type="radio" name="男">&nbsp;男
            <input type="radio" name="男">&nbsp;女
		</div>
		<div class="item">
			尺码:<input type="checkbox" name="L">&nbsp;L
				<input type="checkbox" name="L">&nbsp;XL
				<input type="checkbox" name="L">&nbsp;XXL
		</div>
		<div class="item">
			单价:<input type="checkbox" />&nbsp;50元以下
				<input type="checkbox" />&nbsp;50-80
				<input type="checkbox"/>&nbsp;80-100
				<input type="text" value="最低...."style="width:50px;"> 
				—
				<input type="text" value="最高...." style="width:50px;">
		</div>
	</div>
	<table>
		<tr>
			<th width="28%">图片</th>
			<th width="12%">名称</th>
			<th width="10%">型号</th>
			<th width="12%">性别</th>
			<th width="12%">尺码</th>
			<th width="14%">单价</th>
            <th width="14%">操作</th>
		</tr>
		<tr>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="12%">上衣</td>
			<td width="10%">XXL</td>
			<td width="12%">男款</td>
			<td width="12%"><a href="#">L</a>&nbsp;<span>XL</span>&nbsp;<a href="#">XXL</a></td>
			<td width="14%">89.00</td>
            <td width="14%">
                <a href="#">查看</a>
                <a href="#" class="btn-append"></a>
            </td>
		</tr>
		<tr>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="12%">上衣</td>
			<td width="10%">XXL</td>
			<td width="12%">男款</td>
			<td width="12%"><a href="#">L</a>&nbsp;<span>XL</span>&nbsp;<a href="#">XXL</a></td>
			<td width="14%">89.00</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="btn-append"></a>
            </td>
		</tr>
		<tr>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="12%">上衣</td>
			<td width="10%">XXL</td>
			<td width="12%">男款</td>
			<td width="12%"><a href="#">L</a>&nbsp;<span>XL</span>&nbsp;<a href="#">XXL</a></td>
			<td width="14%">89.00</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="btn-append"></a>
            </td>
		</tr>
		<tr>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="12%">上衣</td>
			<td width="10%">XXL</td>
			<td width="12%">男款</td>
			<td width="12%"><a href="#">L</a>&nbsp;<span>XL</span>&nbsp;<a href="#">XXL</a></td>
			<td width="14%">89.00</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="btn-append"></a>
            </td>
		</tr>
		<tr>
			<td width="28%"><a href="#"><img src="images/2.jpg"/></a></td>
			<td width="12%">上衣</td>
			<td width="10%">XXL</td>
			<td width="12%">男款</td>
			<td width="12%"><a href="#">L</a>&nbsp;<span>XL</span>&nbsp;<a href="#">XXL</a></td>
			<td width="14%">89.00</td>
            <td width="14%">
                 <a href="#">查看</a>
                <a href="#" class="btn-append"></a>
            </td>
		</tr>
	</table>
	<div class="bage">
		<a href="#">首页</a>
		<a href="#">上一页</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">下一页</a>
		<a href="#">末页</a>
	</div>
</div>
</body>
</html>