<!DOCTYPE html>
<html>
<head>
<title>xx网站订单中心管理界面</title>
<link type="text/css" href="style.css"  rel="stylesheet"/>
</head>
<body>
<div class="header">
	<div class="nav">
		<ul>
			<li><a href="#">商品列表</a></li>
			<li><a href="#">购物车</a></li>
			<li><a href="#">订单列表</a></li>
			<li><a href="#">个人信息</a></li>
		</ul>
	</div>
    <span>我的购物车<span>
    <table>
        <tr>
            <th width="12%"><input type="checkbox" class="ckb"/>全选</th>
			<th width="28%">商品名称</th>
			<th width="10%">尺寸</th>
			<th width="12%">单价</th>
			<th width="12%">数量</th>
			<th width="14%">小计</th>
            <th width="14%">操作</th>
        </tr>
        <tr>
            <td><input type="checkbox" class="ckb"/></td>
            <td><a href="#"><img src="images/2.jpg"/>经典高帮帆布休闲板鞋 深棕色</td>
            <td>L</td>
            <td>买不起</td>
            <td>
                <input type="submit" value="-" class="push">
                <input type="text" value="1" class="numb">
                <input type="submit" value="+" class="push">
            </td>
            <td>
                <P>￥278.00</p>
            </td>
            <td>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" class="ckb"/></td>
            <td><a href="#"><img src="images/2.jpg"/>经典高帮帆布休闲板鞋 深棕色</td>
            <td>L</td>
            <td>买不起</td>
            <td>
                <input type="submit" value="-" class="push">
                <input type="text" value="1" class="numb">
                <input type="submit" value="+" class="push">
            </td>
            <td>
                <P>￥278.00</p>
            </td>
            <td>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" class="ckb"/></td>
            <td><a href="#"><img src="images/2.jpg"/>经典高帮帆布休闲板鞋 深棕色</td>
            <td>L</td>
            <td>买不起</td>
            <td>
                <input type="submit" value="-" class="push">
                <input type="text" value="1" class="numb">
                <input type="submit" value="+" class="push">
            </td>
            <td>
                <P>￥278.00</p>
            </td>
            <td>
                <a href="#">删除</a>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" class="ckb"/></td>
            <td><a href="#"><img src="images/2.jpg"/>经典高帮帆布休闲板鞋 深棕色</td>
            <td>L</td>
            <td>买不起</td>
            <td>
                <input type="submit" value="-" class="push">
                <input type="text" value="1" class="numb">
                <input type="submit" value="+" class="push">
            </td>
            <td>
                <P>￥278.00</p>
            </td>
            <td>
                <a href="#">删除</a>
            </td>
        </tr>
    </table>
    <div class="bar">
        <input type="checkbox" name="">
        <a href="#">全选</a>
         <a href="#">删除</a>
    </div>
    <div class="pay"/>
        <input type="submit" value="去结算" class="pay_button"/>
        <input type="submit" value="<<<<继续购物" />
    </div>
</div>
</body>
</html>