*{margin:0;padding:0;}
.header{width:990px;margin:0 auto;position:relative;}
.nav{width:990px;height:40px;margin:30px auto;background:#c00;}
.nav li{float:left;list-style:none;line-height:40px;width:85px;margin-left:20px;text-align:center;}
.nav a{text-decoration:none;color:#ffffff;display:inline-block;}
.nav a:hover{background:#8b0000;width:85px;}
.search{width:987px;height:200px;margin:0 auto;font-size: 14px}
.search span{background:#ddd;font-size:16px;height:30px;line-height:30px;
padding-left:30px;color:#555;border-bottom:1px solid #555;display:block;}
.search  .item{height:32px;background;#c8c8;margin-top:10px;line-height: 32px;}
.search  .item input{height:25px;vertical-align: middle;}
table{width:987px;margin:10px auto;}
th{height:31px;background:#c8c8c8;color:#666666;}
td{height:73px;border:1px solid #c8c8c8;text-align:center;}
td a{color:#005ea7;text-decoration:none;font-size:14px;}
table img{vertical-align:middle;width:50px;height:50px;}
.btn-append{background:url(images/bg_initcart.gif) no-repeat -43px 1px;width:90px;height:25px;display:block;margin: 0 auto;}
.bage{height:80px;width:350px;position:absolute;right:0px;line-height:30px;display:block;}
.bage a{margin-left:5px;color:#333333;}
.ckb{width: 13px;height: 13px;}
.numb{width:32px;height:20px;text-align:center;line-height:20px;}
.push{width:17px;height:20px;background:#c8c8c8;}
.bar{width:124px;height:25px;border:1px solid red;text-align:center;}
.bar a{color:#005ea7;text-decoration:none;font-size:14px;}
.pay {width:300px;height:37px;position:absolute;right:0px;}
.pay input{width:122px;height:37px;float:right;margin-left:20px;font-size:16px;font-weight:bold;}
.pay_button{background:#f60;}
span{font-size:18px;font-weight:bold;}
.dingdan{height:40px;width:100%;line-height: 40px;}
.dingdan_left{float:left;}
.dingdan_right{float:right;}
.dingdan  .btn{width:50px;height:30px;}
.buy{background:url(images/use.gif) no-repeat 7px -21px;;width:90px;height:25px;
display:block;margin: 0 auto;}